body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    margin: 0 auto;
    box-sizing: border-box;
}



.header-flex {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}



.webstudio {
    color: #2e2f42;
}

.nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: auto;
}

.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contacts-item:last-child {
    margin-right: 0;
}



.firt::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.the-first-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.firt {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.the-first-link:hover {
    color: #404bbf;
}

.the-first-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover {
    color: #404bbf;
}

.address:focus {
    color: #404bbf;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

}

.herobtn {
    background-color: transparent;
}

.hero {
    display: block;
    fill: #2f2f37;
}


.mobile-menu.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cont-menu {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu {
    margin-bottom: auto;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style: none;
    display: flex;
}

.menu-list {
    flex-direction: column;
}

.menu-list-second {
    display: flex;

}

.list-svgshka {
    margin: 10px;
}

.menu-punkt {
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 0;
}

.menu-first-link {
    font-weight: 700;

}

.menu-punkt:hover,
.menu-punkt:focus {
    color: #404bbf;
}

.menu-addr {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.contact-punkt {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contact-punkt:first-child {
    margin-bottom: 24px;
}

.contact-punkt:hover,
.contact-punkt:focus {
    color: #404bbf;
}

.menu-links {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.men-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
}

.men-svg {
    fill: var(--cloud);
}


.grey {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.site-name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: #404BBF;
}

.btn:focus {
    background-color: #404BBF;
}


.sec-set-it {
    width: calc((100% - 72px) / 4);
}

.sec-set-it:last-child {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.char {
    display: flex;
    gap: 24px;
    margin-top: 120px
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.first-list-photos {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.soc-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social {
    width: 40px;
    height: 40px;
}

.sec-iconca {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-iconca:hover {
    background-color: #404bbf;
}

.sec-iconca:focus {
    background-color: #404bbf;
}

.sec-ic {
    fill: #f4f4fd;
}

    .section-three {
        max-width: 1440px;
}

    .the-photos {
        max-width: 1128px;
        margin: 0 auto;
        row-gap: 64px;
        column-gap: 24px;
        flex-wrap: wrap;
        gap: 64px 24px;
        display: flex;
        flex-wrap: nowrap;
    }

    .section {
        padding: 120px 0;
        width: 100%;
    }


.the-second-photos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:hover .hid-par {
    transform: translateY(0%);
}

.hid-inf {
    position: relative;
    overflow: hidden;
}

.hid-par {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adds {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.table-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px 0;

}

.table-name {
    background-color: #FFFFFF;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 8px 0;
}

.table-subname {
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;

}

a {
    text-decoration: none;
}

.the-photos {
    display: flex;
    gap: 24px;
}

img {
    display: block;
    max-width: 100%;
}

.name-job {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: flex-start;
}

.low-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.low-studio {
    color: #f4f4fd
}

.foot-par {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.foot-cont {
    display: flex;
    align-items: baseline;

}

.footer-container {
    margin-right: 120px;


}

.foot-pat-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;

}

.foot-ul {
    display: flex;
    gap: 16px;
}

.foot-soc {
    width: 40px;
    height: 40px;

}

.foot-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-link:focus,
.foot-link:hover {
    background-color: #31d0aa;
}

.foot-svg {
    fill: #f4f4fd;
}

.subsc {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.foot-form {
    display: flex;
    gap: 24px;
}

.foot-inp {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.foot-inp::placeholder {
    color: #ffffff;
}

.foot-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.foot-media {
    margin-right: 80px;
}

.btn-send {
    margin-left: 16px;
}

.modal-window-big {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal-window-big.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window-itself {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-wnd {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.inp {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp:focus-within .form-svg {
    fill: #4D5AE5;
}

.four-div {
    margin-bottom: 16px;
}

.comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: #4D5AE5;
}

.comment::placeholder {
    color: #2E2F4266;
}

.click {
    margin-bottom: 24px;
}

.low-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.low-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.lower-inp:checked+.low-label .low-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.last-link {
    color: #4d5ae5;
}

.last-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

