
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}


.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.webstudio {
    color: #2e2f42;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.herobtn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.hero {
    display: block;
    fill: #2f2f37;
}

.firt {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firt::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
@media screen and (min-width: 768px) {
    .herobtn {
        display: none;
    }
  .header-flex .links,
  .header-flex .address {
      display: flex;
  }
    .nav {
        display: flex;
        align-items: center;
    }
  .header-flex address.address {
      display: block;
  }

  .header-flex .contact-list {
      display: flex;
      gap: 12px;
      flex-direction: column;
  }
    .links {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .the-first-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .the-first-link.current {
        position: relative;
    }

    .the-first-link.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .the-first-link:hover,
    .the-first-link:focus,
    .address:hover,
    .address:focus,
    .the-first-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
  .header-flex .links,
  .header-flex .address {
      display: flex;
  }
  .header-flex .address {
      font-style: normal;
      flex-direction: column;
      gap: 12px;
  }
    .header-flex address.address {
            display: block;
        }
    
    .header-flex .contact-list {
            display: flex;
            gap: 12px;
            flex-direction: row;
        }
    .address {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}



.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-address {
    display: block;
}
.cont-menu {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
}

.nav-menu {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
@media screen and (max-width: 767.98px) {
    .header-flex .links,
    .header-flex .address {
        display: none;
    }
}
.menu-list {
    flex-direction: column;
}
.stud{
    color: #404BBF;
}
.menu-list-second {
    display: flex;

}

.list-svgshka {
    margin: 10px;
}

.menu-punkt {
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 0;
}

.menu-first-link {
    font-weight: 700;
    color: #2E2F42;
    font-size: 36px;
}

.admenu:first-child{
 color: #4D5AE5;
}
.links,
.header-flex>.address {
    display: none;
}
.menu-punkt:hover,
.menu-punkt:focus {
    color: #404bbf;
}
.men-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
}

.men-svg {
    fill: var(--cloud);
}
.menu-addr {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.menu-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-punkt {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.contact-punkt:first-child {
    margin-bottom: 24px;
}

.contact-punkt:hover,
.contact-punkt:focus {
    color: #404bbf;
}

.grey {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.site-name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: #404BBF;
}

.btn:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .grey{
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        margin-bottom: 36px;
    }

}
@media screen and (min-width: 1158px) {
    .grey {
        max-width: 1440px;
        padding-top: 180px;
        padding-bottom: 180px;
        margin-bottom: 48px; 
        
    }
}
.section-two{
    margin-bottom: 120px;
}
.sec-set-it {
    width: calc((100% - 72px) / 4);
}

.sec-set-it:last-child {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.char {
    display: flex;
    gap: 24px;
    margin-top: 120px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media screen and (min-width: 320px) {
    .char{
        display: flex;
        flex-wrap: wrap;
        max-width: 288px;
        
    }
    .icon{
        display: none;
    }
    .sec-set-it{
        width: 100%;
        
    }
}

@media screen and (min-width: 768px) {
    .char{
        max-width: 736px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        padding: 0;
        margin: 0;
    }
          .sec-set-it {
              width: calc(50% - 12px);
          }
    .icon {
        display: none;
    }
    
    .twosec{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;

    }
    .tusek{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
   
}

@media screen and (min-width: 1158px) {
    .char {
       max-width: 1128px;
       flex-wrap: nowrap;
    }
    .icon{
        display: flex;
    }
         .sec-set-it {
             width: auto;
         }
    .table-name{
        font-weight: 500;
        font-size: 20px;
    }    
    .table-subname{
        font-weight: 400;
        font-size: 16px;
    } 
}

.section-three {
            max-width: 1440px;
        }
    
.the-photos {
            max-width: 1128px;
            margin: 0 auto;
            row-gap: 64px;
            column-gap: 24px;
            flex-wrap: wrap;
            gap: 64px 24px;
            display: flex;
            flex-wrap: nowrap;
}


img {
    display: block;
    max-width: 100%;
}

.name-job {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.soc-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social {
    width: 40px;
    height: 40px;
    
}
.sec-iconca {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-iconca:hover {
    background-color: #404bbf;
}

.sec-iconca:focus {
    background-color: #404bbf;
}

.sec-ic {
    fill: #f4f4fd;
}
.first-list-photos{
    margin-left: auto;
    margin-right: 24px;
}
.table-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px 0;

}

.table-name {
    background-color: #FFFFFF;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 8px 0;
    
}

.table-subname {
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;

}

@media screen and (min-width: 320px) {
.section-three {
    max-width: 320px;
    
    }
  .the-photos{
    flex-wrap: wrap;
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) {
    .section-three{
        max-width: 736px;
        flex-wrap: wrap;
    }
    .the-photos{
    max-width: 768px;
    gap: 24px;
    margin-left: 85px;
    }
}
@media screen and (min-width: 1158px) {
    .section-three {
            max-width: 1440px;     
        }
      .the-photos{  
            flex-wrap: nowrap;
            
        }
}


.the-second-photos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.project-card:hover {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:hover .hid-par {
    transform: translateY(0%);
}

.hid-inf {
    position: relative;
    overflow: hidden;
}

.hid-par {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adds {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

@media screen and (min-width: 320px) {
    .section-four {
        max-width: 288px;
        flex-wrap: wrap;
        
    }
    .the-second-photos{   
    flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .section-four{
        max-width: 736px;   
    }
    .the-second-photos {
        flex-wrap: wrap;
        row-gap: 48px;
        display: flex;
        flex-direction: row;
    }
 .project-card {
     width: calc((100% - 48px) / 2);
     
}
}
@media screen and (min-width: 1158px) {
    .section-four{ 
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
   .project-card{
    width: calc((100% - 48px) / 3);
   }
}
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: flex-start;
}

.low-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.low-studio {
    color: #f4f4fd
}

.foot-par {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.foot-cont {
    display: flex;
    align-items: baseline;

}

.footer-container {
    margin-right: 120px;


}

.foot-pat-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;

}

.foot-ul {
    display: flex;
    gap: 16px;
}

.foot-soc {
    width: 40px;
    height: 40px;

}

.foot-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-link:focus,
.foot-link:hover {
    background-color: #31d0aa;
}

.foot-svg {
    fill: #f4f4fd;
}

.subsc {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.foot-form {
    display: flex;
    gap: 24px;
}

.foot-inp {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.foot-inp::placeholder {
    color: #ffffff;
}

.foot-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.foot-media {
    margin-right: 80px;
}

.btn-send {
    margin-left: 16px;
}
@media screen and (min-width: 320px) {
    .foot-cont{
        max-width: 320px;
        flex-direction: column;
        
}
    .footer-container{
        max-width: 288px;

    }
    .foot-media{
        max-width: 208px;
        margin: 72px 56px
    }
    .foot-subscribe{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .foot-form {
     display: flex;
      flex-direction: column;
      align-items: flex-start;
       gap: 8px;
}
}

@media screen and (min-width: 768px) {
    .foot-cont {
            max-width: 768px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            justify-content:baseline;

        }
        .footer-container,
        .foot-media {
            row-gap: 24px;
            margin-right: auto;
            margin-left: auto;                   
        }
 
   .foot-media{
    max-width: 208px;
   }
    .foot-form{
   flex-direction: row;
    }
   .foot-lab{
    margin-right: 24px;
   }
  
}

@media screen and (min-width: 1158px) {
    .foot-cont{
        max-width: 1440px;
        flex-direction: row;
    }
    .foot-form {
     display: flex;
    flex-direction: row;
     align-items: flex-start;
     gap: 8px;
}
}


.modal-window-big {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal-window-big.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window-itself {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-wnd {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.inp {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp:focus-within .form-svg {
    fill: #4D5AE5;
}

.four-div {
    margin-bottom: 16px;
}

.comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: #4D5AE5;
}

.comment::placeholder {
    color: #2E2F4266;
}

.click {
    margin-bottom: 24px;
}

.low-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.low-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.lower-inp:checked+.low-label .low-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.last-link {
    color: #4d5ae5;
}

.last-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 320px) {
    .modal-window-big{
        max-width: 320px;        
    }
   .modal-window-itself{
    max-width: 288px;
   } 
   .low-label{
    display: flex;
    align-items: center;
   }
   .low-span{
    flex-shrink: 0;
    margin-right: 8px;
   }
}
@media screen and (min-width: 768px) {
    .modal-window-big {
            max-width: 768px;
        }
    
        .modal-window-itself {
            max-width: 408px;
        }
}
@media screen and (min-width: 1158px){
.modal-window-big {
        max-width: 1440px;
    }
}